<?xml version="1.0" ?>
<model>
  <name>ping_pong_ball</name>
  <version>1.0</version>
  <sdf version="1.10">model.sdf</sdf>

  <author>
    <name>Krishiv Agrawal</name>
    <email>krishivagrawal7@gmail.com</email>
  </author>

  <description>
    Orange regulation 40 mm ping-pong ball (r=0.02 m, m=0.0027 kg) used as a
    scoring object in the Unibots UK 2026 arena.
  </description>
</model>
