<?xml version="1.0" ?>
<model>
  <name>steel_bearing</name>
  <version>1.0</version>
  <sdf version="1.10">model.sdf</sdf>

  <author>
    <name>Krishiv Agrawal</name>
    <email>krishivagrawal7@gmail.com</email>
  </author>

  <description>
    Grey steel ball bearing (r=0.01 m, m=0.034 kg) used as a heavier scoring
    object in the Unibots UK 2026 arena.
  </description>
</model>
